<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inventory</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">#}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css
">
</head>
<body>
<div class="container">
<h2>Inventory Management System</h2>

  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Inventories</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
            <form method="POST" action="{{ url_for('inventories') }}">
                <div class="form-group">
                  <label for="formGroupExampleInput">Name</label>
                  <input name="name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Product Name">
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2">Type</label>
                  <select name="type" class="form-control" id="exampleFormControlSelect1">
                    <option>Product</option>
                    <option>Service</option>
                  </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Buying Price</label>
                    <input name="buying_price" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Buying Price">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">Selling Price</label>
                    <input name="selling_price" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Selling Price">
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" >Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!-- <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button> -->
                  </div>
              </form>
        </div>
      </div>
      
    </div>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>

        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Product Name</th>
        <th scope="col">Buying Price</th>
        <th scope="col">Selling Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
    
         
          
          {% set count = namespace(value=1) %}
          {% for each in record %}
            <tr>
            <th scope="row">{{ count.value }}</th>
            <td>{{ each.name }}</td>
            <td>{{ each.type }}</td>
            <td>{{ each.buying_price }}</td>
            <td>{{ each.selling_price }}</td>
            <td>
              {% for item in remstock %}
                {% if item[0] == each.id %}
                  {{item[1]}}
                {% endif %}
              {% endfor %}
            </td>
            <td>
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#{{ each.name }}">ADD Stock</button>

              <!-- Modal -->
              <div id="{{ each.name }}" class="modal fade" role="dialog">
                <div class="modal-dialog">
    
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Add Stock</h4>
                    </div>
                    <div class="modal-body">
                      <form method="POST" action="{{ url_for('add_stock', inv_id=each.id) }}">
                        <div class="form-group">
                          <label for="formGroupExampleInput">Stock</label>
                          <input name="stock" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Total Stock">
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-success">Submit</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </form>
                    </div>
                    
                  </div>
    
                </div>
              </div>
             
            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#editStockModal">Edit</button>
            <!-- Modal -->
          <div id="editStockModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <form method="POST" action="/inventories">
                    <div class="form-group">
                      <label for="formGroupExampleInput">Add Stock</label>
                      <input name="editStock" type="text" class="form-control" id="formGroupExampleInput" placeholder="Edit Stock">
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-success" >Submit</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </form>
                  <form method="POST" action="/inventories">
                    <div class="form-group">
                      <label for="formGroupExampleInput">Add Stock</label>
                      <input name="editStock" type="text" class="form-control" id="formGroupExampleInput" placeholder="Edit Stock">
                    </div>
                    <div class="modal-footer">
                    </div>
                  </form>
                </div>
   
              </div>

            </div>
          </div>
            <button type="submit" class="btn btn-warning" data-toggle="modal" data-target="#{{ each.name }}">Make sale
            </button>


            <div class="modal fade" id="{{ each.name }}" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Make Sale</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('make_sale', inv_id=each.id) }}" method="POST">
                                <div class="form-group">
                                    <label for="formGroupExampleInput2">Quantity</label>
                                    <input name="quantity" type="text" class="form-control"
                                           id="formGroupExampleInput2"
                                           placeholder="Enter Quantity">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                    </button>
                                </div>

                            </form>


                        </div>

                    </div>

                </div>
            </div>
              <button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#viewStockModal">View Sale</button>
        
          <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#deleteStockModal">Delete Sale</button>
              </tr>
              {% set count.value = count.value + 1 %}
            {% endfor %}
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
 
</div>
<script>
  $(document).ready(function () {
      $('#example').DataTable();
  });
</script>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

</body>
</html>